<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kizito School</title>
    <style>
        html{
            background-color: whitesmoke;
        }
        h1{
            text-align: center;
            color: blue;
        }
        .buttons{
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            width: 50%;
            align-items: center;
            /* background-color: red; */
        }
        .btn{
            background-color:;
        }
    </style>
</head>
<body>
    <h1>Hello from Kizito school</h1>
    <div class="buttons">
        <button class="btn">Sign up</button>
        <button class="btn">Sign in</button>
    </div>
</body>
</html>